<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input id="username" formControlName="username" type="text" required />
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" required />
  </div>
  <div>
    <label for="age">Age:</label>
    <input id="age" formControlName="age" type="number" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" required />
  </div>
  <div>
    <label for="role">Role:</label>
    <select id="role" formControlName="role">
      <option value="ROLE_ADMIN">Admin</option>
      <option value="ROLE_CAIXA">Caixa</option>
    </select>
  </div>
  <div class="button-container">
    <button type="submit">Create User</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </div>
</form>
